.courses-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
}
.course-title{
    margin: 30px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: crimson;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
    
}
.cart-btn{
    padding: 10px 50px;
    margin-top: 50px;
    border: none;
    border-radius: 60px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    background-color: brown;
}
.cart-btn:hover{
   background-color: rgb(241, 76, 6);
}